* {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
}

/*Navigation Bar*/
.logo {
    height: 50px;
    width: 50px;
}

.navbar-brand {
    color: #343434;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-item a,
.dropdown {
    color: #CBCBCB;
    font-weight: 600;
}

.nav-item .active {
    color: #1E1E1E;
}

.nav-item:hover {
    color: #1E1E1E;
    transition: .7s ease-in-out;
}

.nav-item .dropdown-menu {
    border: none;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
    box-shadow: none;
    border: none;
}

.offcanvas-header {
    border-bottom: #EEEEEE 2px solid;
}

.offcanvas-title {
    font-weight: 700;
}

/*Main section*/
.main-section {
    height: 100vh;
    background-color: #7994A9;
}

.upper-content {
    color: #F4F0F1;
    height: 80vh;
    margin: 0 4rem;
    align-content: center;
}

.upper-content h1 strong {
    font-weight: 700;
}

.upper-content a {
    border: #01181E 2px solid;
    width: 200px;
    background-color: #01181E;
    color: #F4F0F1;
    letter-spacing: 3px;
    border-radius: 0;
}

.upper-content a:hover {
    border: #F4F0F1 2px solid;
    color: #F4F0F1;
}

.bottom-content {
    height: 20vh;
    color: #7994A9;
    background: white;
    padding: 0 4rem;
}

@media screen and (max-width: 990px) {
    .bottom-content {
        display: none;
    }

    .col-lg-5 {
        position: absolute;

        width: 100%;
        height: 100%;
        z-index: 2;
    }

    .upper-content {
        z-index: 3;
        position: relative;
    }

    .upper-content a {
        border: #F4F0F1 2px solid;
        width: 200px;
        background-color: #F4F0F1;
        color: #01181E;
        letter-spacing: 3px;
        border-radius: 0;
        font-weight: 700;
    }

}

@media screen and (min-width: 990px) {
    .overlay {
        display: none;
    }

}

.main-section .col-lg-7 {
    position: relative;
    padding: 0;
    height: 100vh;
}

.main-section .col-lg-7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

/*Featured collections*/
.featured-collection .featured-title {
    font-weight: 600;
    color: #7994A9;
    padding-bottom: 1rem;
    border-bottom: 2px solid #7994A9;
    text-align: start;
    margin-bottom: 1.5rem;
}

.carousel-inner img {
    height: 300px;
    width: auto;
}

@media (max-width: 767px) {
    .featured-collection .featured-title {
        font-size: 2rem;
        margin-bottom: .5rem;
    }

    .featured-collection .carousel-inner img {
        height: 200px;
        width: auto;
    }
}

@media (min-width: 76px) {
    .featured-collection .carousel-inner {
        display: flex;
        flex-wrap: wrap;
    }
}


.card {
    position: relative;
    overflow: hidden;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-item {
    transition: transform 0.5s smooth;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .card-overlay {
    opacity: 1;
}

.card-button {
    width: 100%;
    background-color: transparent;
    border: 1px #1E1E1E solid;
    padding: 8px 0;
    color: #1E1E1E;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #1E1E1E;
    color: #fff;
}

.card-text {
    font-size: smaller;
}

/*Showcase 1*/

.showcase {
    background-color: #EFEEEC;
    position: relative;
}

.showcase .showcase-content-wrapper {
    z-index: 2;
    position: relative;
}

.showcase .showcase-content-wrapper h1 {
    font-weight: 200;
    font-size: 64px;
    line-height: 77px;
}

.showcase .showcase-content-wrapper a {
    border: #1A1E1F 2px solid;
    background: #1A1E1F;
    color: #EFEEEC;
    padding: .7rem;
    border-radius: 0;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    font-weight: bold;
}

.showcase .showcase-content-wrapper a:hover {
    background-color: transparent;
    color: #1A1E1F;
}

.showcase img {
    height: 100vh;
    width: auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.rectangle {
    position: absolute;
    width: 40vw;
    height: 30vh;
    right: 0;
    top: 0;
    z-index: 1;
    background: #D6D8D5;
}

.rectangle-1 {
    position: absolute;
    width: 40vw;
    height: 30vh;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: #EFEEEC;
}

.showcase .col-lg-5 {
    position: relative;
    padding: 0;
    height: 100vh;
}

.rectangle-2 {
    position: absolute;
    width: 20vw;
    height: 90vh;
    right: 0;
    top: 0;
    z-index: 1;
    background: #A3B2B7;
}

@media screen and (max-width: 990px) {
    .showcase .col-lg-4 {
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 3;
        padding: 0 4rem;
    }

    .showcase .showcase-content-wrapper h1 {
        color: #EFEEEC;
        font-size: 48px;
        line-height: normal;
    }

    .showcase-content-wrapper {
        z-index: 4;
        position: relative;
        margin-top: auto;
    }

    .showcase img {
        filter: none;
    }

    .showcase .rectangle,
    .showcase .rectangle-1,
    .showcase .rectangle-2 {
        display: none;
    }

    .showcase .showcase-content-wrapper a {
        border: #EFEEEC 2px solid;
        color: #EFEEEC;
        background-color: rgba(0, 0, 0, 0.5);
    }

}


/*Footer*/

.custom-footer img {
    height: 6rem;
    width: auto;
}

.custom-footer h5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: medium;
}

.custom-footer li a {
    font-size: small;
}

.custom-footer .soc-med-wrapper li a {
    font-size: 24px;
    margin-right: .5rem;
}

/*Product-hoodies*/

.product-hoodies {
    background-image: url('./Resources/product-main.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.content-wrap {
    margin-top: auto;
}

.pagination .page-item .page-link {
    border: none;
    color: #575757;
}

.pagination .page-item .page-link:hover {
    background-color: #575757;
    color: white;
}

.pagination .disabled .page-link {
    background-color: white;
    color: #CBCBCB;
}

.pagination .active .page-link {
    background-color: #575757;
    color: white;
    font-weight: 700;
    border-radius: 15%;
}

.tab-content {
    display: none;
}

.tab-content {
    flex-wrap: wrap;
}

/*Product Modal*/

.modal-custom-right {
    padding: 0 1rem;
    justify-content: center;
}

.modal-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #0A0A0A;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.modal-custom h5 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #0A0A0A;
}

.modal-custom p {
    line-height: 1.5;
}

.modal-custom img {
    height: 100%;
    width: auto;
}

.add-to-cart {
    border: #1A1E1F 2px solid;
    background: #1A1E1F;
    color: #EFEEEC;
    padding: .7rem;
    border-radius: 0;
    transition: background-color 0.3s;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: small;
    font-weight: bold;
    width: 100%;
}

.modal-custom .add-to-cart:hover {
    background-color: transparent;
    color: #1A1E1F;
}

.modal-custom .sizes-container label {
    border: #1A1E1F 1px solid;
    padding: .5rem;
}

/* Target checked state of the radio buttons */
.modal-custom .sizes-container .btn-check:checked+.btn {
    border: #1A1E1F 1px solid;
    color: white;
    background-color: #1A1E1F;
    font-weight: 500;
}

/* Apply hover styles */
.modal-custom .sizes-container .btn:hover {
    border: #CBCBCB 1px solid;
    color: white;
    background-color: #CBCBCB;
    font-weight: 500;
}

.sizes-container .btn-group-sm {
    display: flex;
    justify-content: space-between;
    /* Distribute items evenly */
    align-items: center;
    /* Center items vertically */
}

.cart-button .number-cart {
    background-color: tomato;
    font-size: xx-small;
    color: white;
}

.cart-button {
    font-size: large;
    color: #575757;
}

.cart-button:hover {
    color: #343434;
}



.qty-input {
    color: #1E1E1E;
    background: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.qty-input .product-qty,
.qty-input .qty-count {
    background: transparent;
    color: #1E1E1E;
    font-size: medium;
    border: none;
    display: inline-block;
    min-width: 0;
    height: 2rem;
    line-height: 1;
}

.qty-input .product-qty:focus,
.qty-input .qty-count:focus {
    outline: none;
}

.qty-input .product-qty {
    width: 50px;
    min-width: 0;
    display: inline-block;
    text-align: center;
    appearance: textfield;
    border-top: #D6D8D5 1px solid;
    border-bottom: #D6D8D5 1px solid;
}

.qty-input .product-qty::-webkit-outer-spin-button,
.qty-input .product-qty::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.qty-input .qty-count {
    padding: 0;
    cursor: pointer;
    width: 2.5rem;
    font-size: 1.25em;
    text-indent: -100px;
    overflow: hidden;
    position: relative;
}

.qty-input .qty-count:before,
.qty-input .qty-count:after {
    content: "";
    height: 2px;
    width: 10px;
    position: absolute;
    display: block;
    background: #1E1E1E;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.qty-input .qty-count--minus {
    border: #D6D8D5 1px solid;
}

.qty-input .qty-count--add {
    border: #D6D8D5 1px solid;
}

.qty-input .qty-count--add:after {
    transform: rotate(90deg);
}

.qty-input .qty-count:disabled {
    color: #575757;
    background: #CBCBCB;
    cursor: not-allowed;
    border-color: transparent;
}

.qty-input .qty-count:disabled:before,
.qty-input .qty-count:disabled:after {
    background: #575757;
}

.basket-cart-container {
    padding: 20px;
}

.basket-cart-container img {
    height: 90px;
}

.basket-cart-container .cart-details {
    font-size: small;
}

.checkout-end {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.checkout {
    border-top: #D6D8D5 1px solid;
    margin-top: auto;
}

.checkout .add-to-cart:hover {
    border: #1A1E1F 2px solid;
}

.staff-container img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px #ffffff;
}

.staff-container {
    background-color: #1E1E1E;
}

.contactForm .label {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

.contactForm .form-control {
    border: none;
}

#map {
    width: 100%;
}

@media (max-width: 767.98px) {
    #map {
        height: 300px;
    }
}

#contactForm .error {
    color: red;
    font-size: 12px;
}

#contactForm .form-control {
    font-size: 16px;
}

#message {
    resize: vertical;
}

#form-message-warning,
#form-message-success {
    display: none;
}

#form-message-warning {
    color: red;
}

#form-message-success {
    color: #28a745;
    font-size: 18px;
    font-weight: 500;
}

.submitting {
    float: left;
    width: 100%;
    padding: 10px 0;
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: #2553b8;
}

.contact-wrap {
    background: #e8edf0;
}

.contact-form .wrapper {
    width: 100%;
}

textarea.form-control {
    height: inherit !important;
}

.contact-form {
    justify-content: center;
    align-content: center;
}

#map {
    width: 100%;
}

@media (max-width: 767.98px) {
    #map {
        height: 300px;
    }
}

.contact-form .fa-solid {
    padding: 1rem;
    font-size: large;
    margin: 1rem;
    border-radius: 50%;
    background-color: #1E1E1E;
    color: #D6D8D5;
}

.careers {
    height: 60vh;
    justify-content: center;
    align-content: center;
}

.careers .img-nothing {
    height: 300px;
    width: auto;
}

.carousel-indicators .btn-car {
    background-color: #0A0A0A;
}

.carousel-control-prev, .carousel-control-next {
    background-color: #cbcbcb83;
}